@using Seyehat_Sitesi.Models.Sınıflar
@model List<Blog>
<div class="padding">
    <h4>En Popüler 8 Blog</h4>

    <ul class="list list-pad">
        @{ int i = 0;}
        @foreach (var x in Model)
        {
            <li class="list-bg">
                <span>
                    @{i++;} @i .
            </span><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a>
        </li>

    }
    </ul>
    <a href="/Blog/Blog/" class="link1">Tüm Blogları Görüntüle</a>
</div>